*{
}
.banner{
    width: 100%;
}
#graphbox {
    height: 300px;
    border-width: 5;
    border-style: solid;
    border-color: black;
    padding-bottom: 25px;
    padding-top: 25px;
    display: inline-flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-left: 20px;


    
}
.column{
    width: 100px;
    height: 600 px;
    background-color: rgb(147, 9, 202);
    border-block-start-width: 2px;
    border-block-end-width: 2px;
    padding-left: 20px;
    padding-right: 20px;
}
.rectangle{
    width: 600px;
    height: 200 px;
    background-color: rgb(9, 202, 35);
    border-block-start-width: 2px;
    border-block-end-width: 2px;
    padding-left: 20px;
    margin-block: 10px;
}
.circle {
    height: 300px;
    width: 300px;
    background-color:rgb(9, 148, 241);
    border-radius: 50%;
  }
#cardstock{
    margin-top: 20px;
    height: 404px;
    border-width: 5;
    border-style: dotted;
    border-color: black;
    padding-bottom: 25px;
    padding-top: 25px;
    display: inline-flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-left: 20px;
}
.innerRectangle{
    width: 75%;
    height: 300 px;
    background-color: wheat;
    box-shadow: thistle;
    border-width: 10px;
    border-right: 10px;
    padding-left: 20px;
    margin-block: 10px;
}
.txtbox{
    width: 600px;
    height: 600px;
}